body {
    font-family: 'DotGothic16', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    overflow: auto; /* スクロールを可能にする */
}

.container {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 5px; /* 余白を減らす */
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100vw; /* 画面幅の100% */
    height: 100vh; /* 画面高の100% */
    max-width: 350px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    overflow: auto; /* スクロールを可能にする */
}

h1 {
    font-size: 24px;
    color: #d9534f;
    margin: 0; /* 余白を削除 */
    padding: 0; /* 余白を削除 */
}

.buttons {
    margin: 5px 0; /* 上下の余白を減らす */
}

.btn {
    font-size: 16px;
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #337ab7;
    color: #ffffff;
    flex-grow: 1;
}

.btn:hover {
    background-color: #286090;
}

.total {
    font-size: 16px;
    margin: 5px 0; /* 上下の余白を減らす */
}

.character-image {
    width: 80px; /* 幅を少し大きくする */
    height: auto;
    margin: 5px 0; /* 上下の余白を減らす */
    border: 2px solid #000000;
    border-radius: 5px;
}

#text-box {
    margin: 5px 0; /* 上下の余白を減らす */
    font-size: 16px;
}

#comment {
    font-size: 16px;
    margin: 5px 0; /* 上下の余白を減らす */
}

#retry,
#tweet {
    font-size: 16px;
    padding: 8px 12px;
    margin: 5px 2px; /* 上下の余白を減らす */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex-grow: 1;
    display: inline-block; /* 横並びにする */
}

#retry {
    background-color: #5cb85c;
    color: #ffffff;
}

#retry:hover {
    background-color: #4cae4c;
}

#tweet {
    background-color: #1da1f2;
    color: #ffffff;
}

#tweet:hover {
    background-color: #1a91da;
}

.green {
    color: green;
}

.red {
    color: red;
}

#shinosawa-message-box,
#shinosawa-message-box-janken {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px; /* 余白を減らす */
    margin: 5px 0; /* 上下の余白を減らす */
    background-color: #fff;
    font-family: 'DotGothic16', sans-serif;
    background-color: #f0f0f0;
    width: 100%;
    box-sizing: border-box;
    height: 50px; /* 高さを少し減らす */
    overflow: hidden;
    white-space: nowrap; /* テキストの改行を防ぐ */
}

.disabled {
    background-color: #cccccc; /* 灰色 */
    color: #666666; /* テキストの色も変更 */
    pointer-events: none; /* クリックを無効化 */
}

.large-text {
    font-size: 1.8em; /* テキストを少し小さくする */
    font-weight: bold;
    color: red;
    text-align: center;
    margin: 5px 0; /* 上下の余白を減らす */
}

.retry-tweet-container {
    display: flex;
    justify-content: space-around;
}
