body {
    font-family: 'DotGothic16', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    overflow: hidden; /* スクロールバーを防ぐ */
}

.container {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100vw; /* 画面幅の100% */
    height: 100vh; /* 画面高の100% */
    max-width: 400px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden; /* スクロールバーを防ぐ */
}

h1 {
    font-size: 22px;
    color: #d9534f;
    margin-bottom: 10px;
}

.buttons {
    margin: 10px 0;
    display: flex;
    justify-content: space-around; /* ボタンを均等配置 */
}

.btn {
    font-size: 16px;
    padding: 10px 14px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #337ab7;
    color: #ffffff;
    flex: 1; /* ボタンを均等に広げる */
    max-width: 90px; /* ボタンの最大幅を設定 */
}

.btn:hover {
    background-color: #286090;
}

.total {
    font-size: 18px;
    margin: 10px 0;
}

.character-image {
    width: 80px; /* 幅を小さくする */
    height: auto;
    margin: 10px auto; /* 上下中央揃え */
    border: 2px solid #000000;
    border-radius: 5px;
}

#text-box {
    margin: 10px 0;
    font-size: 18px;
}

#comment {
    font-size: 18px;
    margin: 5px 0;
}

#retry {
    font-size: 18px;
    padding: 10px 14px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5cb85c;
    color: #ffffff;
}

#retry:hover {
    background-color: #4cae4c;
}

.green {
    color: green;
}

.red {
    color: red;
}

#shinosawa-message-box,
#shinosawa-message-box-janken {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
    background-color: #fff;
    font-family: 'DotGothic16', sans-serif;
    background-color: #f0f0f0;
    width: 100%;
    box-sizing: border-box;
    height: 60px; /* 高さをさらに小さくする */
    overflow: hidden;
    white-space: nowrap; /* テキストの改行を防ぐ */
}

.disabled {
    background-color: #cccccc; /* 灰色 */
    color: #666666; /* テキストの色も変更 */
    pointer-events: none; /* クリックを無効化 */
}

.large-text {
    font-size: 2em; /* テキストを少し小さくする */
    font-weight: bold;
    color: red;
    text-align: center;
    margin-top: 10px;
}
